.title {
  text-align: center;
  color: blueviolet;
  font-size: 3vw;
}

.image-container {
  display: flex;
  justify-content: center;
}

.picture {
  width: 45%;
}

.button-container {
  margin-top: 3%;
  margin-bottom: 3%;
  display: flex;
  justify-content: space-around;
}

.switcher {
  padding: 0.7% 2%;
  font-size: 1.9vw;
  font-weight: 900;
  width: 12vw;
  color:blueviolet;
  cursor: pointer;
}